In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('train.csv', usecols=['Age', 'Fare', 'Pclass', 'Survived'])

In [5]:
df

     Survived  Pclass   Age     Fare
0           0       3  22.0   7.2500
1           1       1  38.0  71.2833
2           1       3  26.0   7.9250
3           1       1  35.0  53.1000
4           0       3  35.0   8.0500
..        ...     ...   ...      ...
886         0       2  27.0  13.0000
887         1       1  19.0  30.0000
888         0       3   NaN  23.4500
889         1       1  26.0  30.0000
890         0       3  32.0   7.7500

[891 rows x 4 columns]

In [177]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [179]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [194]:
knn = KNNImputer( n_neighbors=3,weights='distance')

In [196]:
X_train_trf = pd.DataFrame(knn.fit_transform(X_train), columns=X_train.columns)
X_test_trf = pd.DataFrame(knn.transform(X_test), columns=X_test.columns)

In [198]:
lr = LogisticRegression()
lr.fit(X_train_trf, y_train)
y_pred = lr.predict(X_test_trf)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7039106145251397

# using simple imputer

In [201]:
si = SimpleImputer()

In [203]:
X_train_trf1 = pd.DataFrame(si.fit_transform(X_train), columns=X_train.columns)
X_test_trf2 = pd.DataFrame(si.transform(X_test), columns=X_test.columns)

In [205]:
lr = LogisticRegression()
lr.fit(X_train_trf1, y_train)
y_pred = lr.predict(X_test_trf2)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7039106145251397