In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('train.csv', usecols=['Age','Pclass','SibSp', 'Parch', 'Survived' ])

In [5]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [7]:
df.dropna(inplace=True)

In [9]:
df.shape

(714, 5)

In [11]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [15]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

np.mean(cross_val_score(LogisticRegression(), X,y, scoring='accuracy', cv=25))

np.float64(0.6966009852216749)

## Feature COnstruction

In [20]:
X['family_Size'] = X['SibSp'] + X['Parch'] + 1 #passenger is also family member therefore +1

In [26]:
def family(num):
    if num==1:
        return 0
    elif (num > 1) & (num<=4):
        return 1
    elif num>4:
        return 2

In [36]:
X['family_Type'] = X['family_Size'].apply(family)

In [50]:
X.drop(columns=['SibSp', 'Parch', 'family_Size'], inplace=True)

In [70]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

np.mean(cross_val_score(LogisticRegression(), X,y, scoring='accuracy', cv=200))

np.float64(0.7079166666666667)

## Feature Splitting

In [73]:
pf = pd.read_csv('train.csv')

In [77]:
pf['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [89]:
pf['Title'] = pf['Name'].str.split(",", expand=True)[1].str.split(".", expand=True)[0]

In [95]:
pf[['Title', 'Name']]

     Title                                               Name
0       Mr                            Braund, Mr. Owen Harris
1      Mrs  Cumings, Mrs. John Bradley (Florence Briggs Th...
2     Miss                             Heikkinen, Miss. Laina
3      Mrs       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4       Mr                           Allen, Mr. William Henry
..     ...                                                ...
886    Rev                              Montvila, Rev. Juozas
887   Miss                       Graham, Miss. Margaret Edith
888   Miss           Johnston, Miss. Catherine Helen "Carrie"
889     Mr                              Behr, Mr. Karl Howell
890     Mr                                Dooley, Mr. Patrick

[891 rows x 2 columns]